* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

input {
  font-size: 21px;
}


body {
  background: #0C0E13 ;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  scroll-behavior: smooth;
}



.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  transition: 0.5s linear;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.nav-links ul li {
  padding-right: 20px;
  border-right: 1px solid rgba(255,255,255,0.4);
  color: rgba(255,255,255,0.7);
}

.sign-btns {
  display: flex;
  gap: 1rem;
}

.sign-btns button {
  width: 80px;
  height: 30px;
  background: transparent;
  color: white;
  border: 2px solid  rgba(255,255,255,0.4);
  border-radius: 30px;
  font-family: sans-serif;
}

.sign-btns .login-btn {
  border: none;

}

@keyframes slide-in {
     from{transform: translate(-100px, 0px);opacity: 0;}
     to{transform: translate(0px, 0px);opacity: 1;}
}

@keyframes fade-in {
    from{opacity: 0;}
    to{opacity: 1;}
}

.hero-section {
  width: 100%;
  padding: 0px 70px;
  margin-top: 80px;
  display: flex;
}

.hero-left {
  width:60%;
 
}

.hero-left h1 {
  font-size: 40px;
  line-height: 60px;
  animation: slide-in 0.8s linear 1 ;
  opacity: 0.9;
}

.hero-left p {
  margin-top: 19px;
  color:  rgba(255,255,255,0.8);
  line-height: 25px;
  animation: slide-in 1s linear 1;
}

.hero-left .bright-p {
  color: white;
  font-size: 21px;
  line-height: 30px;
}

.hero-left .bright-p span {
  color: gold;
}

.hero-right {
  height: 360px;
  animation: fade-in 0.7s ease-in  1;
  width: 40%;

}

.hero-sign {
  margin-top: 20px;
  display: flex;
  width: 45%;
  position: relative;
}

.hero-sign button {
  position: absolute;
  right: 0;
  height: 28px;
  font-size: 11px;
  width: 100px;
  border-radius: 15px;
  border: none;
  background: gold;
  color: black;
  box-shadow: 4px 0px 10px gold;
}

.hero-sign input {
  width: 250px;
  height: 30px;
  background: #2d2d2d;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
}

.satisfied {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
  margin-top: 35px;
}

.satisfied-left {
  display: flex;
  gap: 3rem;
}


.sat-box{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sat-box h1 {
  font-size: 40px;
  color: gold;
}

.sat-box p {
  font-size: 13px;
  color: rgba(255,255,255,0.8);
}

.sat-r-box {
  color: black;
  background: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 8px 8px;
  border-radius: 30px;
}

.sat-box-pic {
  display: flex;
  align-items: center;
}

.sat-box-text {
  font-weight: 600;
  font-size: 13px;
}

.partners-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 60px;
}

.partners-img img {
  width: 210px;
}

.logo img {
  width: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  text-align: center;
}

@keyframes slide-up {
  from{transform: translate(0px, -40px);opacity: 0;}
  to{transform: translate(0px, 0px); opacity: 1;}
}

.how-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: slide-up 0.8s linear 1;
}

.how-heading h1 {
  font-size: 35px;
}

.how-heading h1 span {
  border-bottom: 3px solid gold;
  padding-bottom: 5px;
}

.how-heading p {
  opacity: 0.8;
  font-size: 15px;
  line-height: 25px;
  margin-top: 15px;
}

.how-steps {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
width: 230px;
height: 300px;
background:  #2d2d2d;
border-radius: 10px;
}

.step-info h1 {
  font-size: 20px;
  color: gold;
}

.step-info p {
  font-size: 13px;
  padding: 10px 50px;
}

.step-pic {
  width: 70%;
  height: 140px;
}

.flexibility {
  padding: 40px 70px;
  margin-top: 180px;
  display: flex;
}

.flexi-text h1 {
  font-size: 35px;
}

.flexi-text p {
  font-size: 14px;
  opacity: 0.7;
  margin-top: 15px;
}


.point {
  display: flex;

  gap: 1rem;
  margin-top: 10px;
}

.flexi-text {
  width: 60%;
}

.flexi-img {
  width: 40%;
  background: url("https://www.firstfinancial.org/assets/1561580754-BlogHandshake.jpg");
  height: 300px;
  background-size: cover;
  border-radius: 10px;
}

.point h1 {
  background: gold;
  font-size: 23px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.pointer {
  margin-top: 20px;
}

.invest {
  margin-top: 70px;
  text-align: left;
}

.invest-head h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

.invest-head h1 span{
  border-bottom: 4px solid gold;
  padding-bottom: 5px;
}

.invest-head p {
  opacity: 0.6;
margin-top: 30px;
line-height: 26px;
text-align: center;

}

.invest-body {
  display: flex;
  gap: 1.7rem;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.navlink {
  color:rgba(255,255,255,0.7);
  text-decoration: none;
  
}

.invest-box {
  width: 340px;
  height: 270px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://img.freepik.com/free-photo/gold-abstract-background-abstract-oil-bubble-texture-wallpaper_53876-142976.jpg");
   background-size: cover;
   color: black;
   font-weight: 600;
}

.plan {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.plan-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}


.invest-box h1 {
  text-align: center;
}

.small-text {
  font-size: 14px;
  opacity: 0.7;
  color: black;
}

.thick-text {
  font-weight: 800;
  color: gold;
  font-size: 14px;
}

.white {
  font-weight: 800;
  color: black;
}

.review {
  margin-top: 80px;
  padding: 0px 70px;
}

.review-head {
  text-align: center;
}

.review-head h1 {
  font-size: 32px;
  line-height: 50px;
}

.review-head p{
  margin-top: 25px;
  opacity: 0.7;
}

.review-head h1 span {
  border-bottom: 4px solid gold;
  padding-bottom: 10px;
}

.review-body {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.user-review {
  width: 300px;
  height: 300px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 20px 0px;
}

.user-review-pic {
  width: 90px;
  height: 90px;
  border: 1px solid white;
  border-radius: 50%;
}

.review-star {
  display: flex;
  gap: 0.5rem;
  color: gold;
  font-size: 14px;
}

.user-review-text {
  font-size: 13px;
  text-align: center;
  padding: 0px 10px;
  opacity: 0.6;
  line-height: 25px;
}

.user-review-name {
  font-weight: 600;
  
}

.world-map {
  width: 80%;
  height:500px;
  margin: auto;
  margin-top: 100px;
  background: url(https://img.freepik.com/premium-psd/world-map-made-red-dots-isolated-transparent-background_118047-16628.jpg?w=740);
  background-size: cover;
}
.bottom-arrow {
  width: 200px;
  height: 80px;
  background: gold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex-direction: column;
  text-align: center;
  color: black;
}

.bottom-world {
  width: 10px;
  border-top: 40px solid gold;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.world-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-box1 {
  transform: translate(-200px, 0px);
}

.w-box2 {
  margin-left: 300px;
}

.phone-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 70px;
  display: none;
}

.phone-nav i {
  font-size: 35px;
}

.tradingview-widget-container {
  padding: 0px 70px;
 
}

.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  text-align: center;
}

.video-head h1 {
  font-size: 30px;
}

.video-head p {
 opacity: 0.7;
 margin: 15px;
}

.video-box {
  margin-top: 50px;
  width: 70%;
  height: 500px;
}

.footer {
  margin-top: 150px;
  width: 100%;
  padding: 50px 100px;
  background: #2d2d2d;
  display: flex;
  justify-content: space-between;
}

.footer-links{
  margin-top: 20px;
  list-style-type: none;
}

.footer-links li{
margin-top: 15px;
color: #aab2cf;

}

.about {
  padding: 40px 230px;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.about h1 {
  font-size: 40px;
  color: gold;
  animation: slide-in 0.5s ease-in;
}

.about h2 {
  font-size: 27px;
  line-height: 39px;
  animation: slide-in 0.8s ease-in;
}

.about p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 18px;
  color: #858092;
  animation: slide-up 0.8s linear;
}

.our-services {
  padding: 40px 250px;
  display: flex;
  flex-direction: column;
 gap: 3rem;
}


.our-services h1 {
  font-size: 40px;
  color: gold;
}

.service-box {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.service-box h2 {
  font-size: 35px;
}

.service-box button {
  width: 130px;
  height: 40px;
  font-weight: 800;
  border: none;
  color: black;
  background: gold;
  border-radius: 6px;
}

.service-box p {
  width: 70%;
  font: 20px;
  line-height: 28px;
  color: #7480A2;
}

.services-body {
  display: flex;
  flex-direction: column;
  gap: 9rem;
}


.legal-information {
  padding: 40px 250px ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.legal-information h1 {
  font-size: 40px;
  color: gold;
}

.legal-information h3 {
  font-size: 27px;
}

.legal-information p {
  font-size: 18px;
  color: #7480A2;
  line-height: 29px;
}

.legal-information ul {
  color: #7480A2;
  line-height: 27px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: disc;
  list-style-position: inside;
  list-style-image: linear-gradient(gold, gold);
 
  
}

.legal-information ul li span {
  font-weight: 800;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 40px;
}

.contact h1 {
  font-size: 43px;
  color: gold;
}

.contact .p {
  font-size: 22px;
  color: #7480A2;
  text-align: center;
}

.contact h3 {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.contact h3 img {
  width: 60px;
}

.mail-box {
  width: 70%;
  background-color: #2d2d2d;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 15px;
}

.mail-inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mail-inputs p {
  font-size: 19px;
  color: #7480A2;
}


.mail-inputs input {
  color: white;
  width: 70%;
  height: 40px;
  margin-top: 20px;
  border-radius: 15px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #7480A2;
  padding: 10px 15px;
  font-size: 18px;
}

.mail-inputs input:focus {
  outline: none;
}

.mail-box textarea:focus {
  outline: none;
}


.mail-box textarea {
  width: 70%;
  height: 200px;
  border-radius: 15px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #7480A2;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
}


.contact button {
  width: 70%;
  height: 60px;
  font-size: 20px;
  color: black;
  font-weight: 800;
  background-color: gold;
  border: none;
  border-radius: 4px;
}

.term {
  padding: 20px 250px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.term h1 {
  font-size: 42px;
  color: gold;
}

.use-box h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.use-box p {
  font-size: 18px;
  color: #7480A2;
  line-height: 28px;
}

.use {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.login {
  width: 100%;
  height: 90vh;

  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  background-size: cover;
}


.login {
  width: 100%;
  padding: 20px 150px;
}

.icons {
  display: flex;
  gap: 1rem;
}

.login-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
}

.login-left i {
  font-size: 20px;
  color: gold;
}


.login-left h1 {
  font-size: 70px;
  line-height: 75px;
}

.login-right {
  width: 50%;
  
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.login-right h1 {
  text-align: center;
  font-size: 35px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.fields input {
  width: 100%;
  height: 35px;
  border-radius: 3px;
  border: none;
  padding-left: 20px;
}

.fields p {
  margin-bottom: 10px;
}

:focus {
  outline: none;
}
.remember-check {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.login-form button{
 width: 110px;
 height: 35px;
 font-weight: 600;
 border: none;
 background: gold;
}

.login-form h2 {
  font-size: 15px;
  font-weight: 500;
}

.login-form h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

.sign-up {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-box {
  background: #2d2d2d;
  width: 50%;
  height: 90vh;
  padding: 30px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.double-input {
  display: flex;
  gap: 1rem;
  width: 100%;
 
}

.sign-box h1 {
  font-size: 35px;
  color: gold;
}

.sign-input {
  width: 100%;
}

.sign-box input {
  width: 100%;
  height: 35px;
 padding-left: 20px;
 background: transparent;
 border: none;
 border-bottom: 1px solid gold;
 color: white;
  
}

.sign-box p {
  margin-bottom: 10px;
}


.sign-box button {
  background: gold;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.dashboard-nav {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30px;
}

.dash-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.dash-logo {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  width: 250px;
  padding: 15px 0px 15px 20px;
}


.dash-left input {
  border: none;
  background: #eee;
 height: 40px;
padding-left: 10px;
width: 250px;
border-radius: 0px 6px 6px 0px;
}

.dash-search {
  display: flex;
}

.dash-s-icon {
  height: 40px;
  width: 30px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  border-radius: 6px 0px 0px 6px;
}


.dash-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.dash-r-icon {
  font-size: 20px;
  width: 40px;
  height:40px;
  background: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.user-pic {
  width: 40px;
  height: 40px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1yXuD_6bSuzN-1bSpmsnYYbHzAKJ5WkiGGwkJmtGOyw&s");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.user-name {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 1rem;
}


.error-box {
  padding: 20px 20px;
  background: rgba(244, 170, 157, 0.962);
  color: red;
  font-weight: 600;
  border-radius: 2px;
  transition: 1s linear;
  animation: fade-in 0.6s linear 1;
}















































































@media screen and (min-width: 1100px){
  .total-navbar .navbar2 {
    display: none;
  }
}


@media screen and (max-width: 1100px){


  .sign-box {
    width: 100%;
    background: transparent;
    margin-top: 40px;
  }

  .double-input {
    display: flex;
    flex-direction: column;
  }

  .login {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    align-items: initial;
    justify-content: initial;
    gap: 0.1rem;
  }

  .login-left {
    width: 100%;
  }

  .login-left p, .login-left i {
    display: none;
  }
  .login-left br {
    display: none;
  }
  .login-left h1 {
    font-size: 40px;
    text-align: center;
  }

  .login-right {
    width: 100%;
  }

  .login-right h1 {
    color: gold;
  }

  .how-heading h1 span {
    border: none;
  }
  
  .term {
    padding: 0px 20px;
  }
  .contact {
    padding: 0px 20px;
  }

  .mail-box {
    width: 100%;
  }

  .mail-inputs input {
   width: 100%;
  }

  .mail-inputs textarea {
    width: 100%;
  }

  .contact button {
    width: 100%;
  }


  .service-box p {
    width: 100%;
  }

  .our-services {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
   gap: 3rem;
  }

  .legal-information {
    padding: 40px 20px;
  
  }

  .about h2 {
   font-weight: 500;
  }

  .about {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .hero-left p {
    display: none;
  }

  .hero-left .bright-p {
    display: block;
  }

  .footer {
    margin-top: 150px;
    width: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
     gap: 4rem;
     background: transparent;
  }

  .hero-sign {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
   gap: 1rem;
  }

  .hero-sign button {
    position: relative;
    width: 100%;
    box-shadow: none;
    height: 40px;
  }

  .hero-sign input {
    width: 100%;
    height: 45px;
  }

  .tradingview-widget-container {
    padding: initial;
   
  }

  .total-navbar .navbar1 {
    display: none;
  }
 
  .navbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 40%;
    height: 50vh;
    background: #2d2d2d;

    z-index: 5;
    justify-content: space-between;
    
  }

  .logo1 {
    display: none;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 2rem;
  }

  .sign-btns {
   display: flex;
   flex-direction: column;
  }

  .sign-btns button {
    width: 250px;
    height: 50px;
    border-radius: 8px;
  }

  .sign-btns .sign-btn {
    background: gold;
    color: black;
  }

  .nav-links ul li{
    border: none;
  }

  .phone-nav {
    display: flex;
  }

  .hero-right {
    display: none;
   }

   .hero-left {
    width: 100%;
   }

   .partners-img {
    display: flex;
    align-items: initial;
    justify-content: initial;
    gap: 4rem;
    margin-top: 60px;
    padding: 0px 10px;
   overflow: auto;
   width: 100%;
   
  }

  .how-steps {
    display: flex;
    flex-direction: row;
    overflow: auto;
  }

  .how{
    display: flex;
    align-items: initial;
    justify-content: initial;
    padding: 0px 0px 0px 70px;
  }

  .step {
    display: flex;
   flex: 0 0 auto;

  width: 250px;
  height: 300px;
  
  }

  .flexibility {
    display: flex;
    flex-direction: column;
  }

  .flexi-text {
    width: 100%;
  }

  .flexi-img {
    display:  none;
  }

  .invest {
    padding: 0px 0px 0px 70px;
  }

  .invest-box {
    flex: 0 0 auto;
  }

  .invest-body {
    display: flex;
    gap: 1.7rem;
    align-items: initial;
    justify-content: initial;
    margin-top: 80px;
    width: 100%;
    overflow: auto;
  }

  .review-body {
    display: flex;
    flex-direction: column;
  }

  .world-map {
    width: 70%;
  }

  .satisfied {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}


@media screen and (max-width: 500px){

  .video-box {
    margin-top: 50px;
    width: 80%;
    height: 500px;
  }

  .hero-left h1 {
    font-size: 33px;
    line-height: 50px;
    animation: slide-in 0.8s linear 1 ;
    opacity: 0.9;
    margin-bottom: 10px;
  }

  .navbar {
   width: 60%;
   height: 70vh;
   padding: 20px 15px;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    gap: 2rem;
  }

  .sign-btns button {
    width: 190px;
    height: 40px;
    border-radius: 8px;
  }


.phone-nav {
  padding: 20px 20px;
}

.hero-section {
  padding: 0px 20px;
}

.how {
  padding: 0px 0px 0px 20px;
}

.flexibility {
  padding: 40px 30px;
}

.invest {
  padding: 0px 0px 0px 20px;
}

.w-box1 {
  transform: translate(-90px, 0px);
}

.w-box2 {
  margin-left: 200px;
}


}
